
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/allRecipes">All Recipes</a></li>
    </ol>
  </nav>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof allRecipes !== 'undefined' && allRecipes.length > 0){ %>
        <% allRecipes.forEach(function(recipe, index) { %>
            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
        <% }) %>
    <% } %>

</div>



