
<div class="cols-2 row-cols-lg-6 g-2 g-lg-3 justify-content-center align-items-center">
  <h4>Feelin Lucky</h4>  
  <% if(recipe != '') {%>

            <a href="/recipe/<%=recipe.id %>" class="col text-center meal_link">
                <div class="card">
                  <img src="/uploads/<%=recipe.image %>" alt="<%-recipe.title %>" loading="lazy">
                </div>
                <div><%-recipe.title %></div>
            </a>
       <% } %>
</div>